body.page-id-63 .column1 { width: 48%; float: left; margin: 0; }
body.page-id-63 .column2 { width: 48%; float: left; margin-left: 2.5%; }


#post-1816 h2{ margin: 0 0 1.5em 0 !important; padding: 0 !important;}
#post-1816 h6{ font-size: 16px; color: #00428d; margin: 0 0 1.5em 0 !important; padding: 0 !important;}
#post-1816 p{ margin: 0 0 0 0 !important; padding: 0 !important;}

.cta-link { font-size: 22px; font-weight: 400;
}

.padding-bottom { margin-bottom: 40px !important; }

/*
#post-1816 div.lead-in-text p { margin: 0 0 0 0 !important; }*/
